.Jura-bold {
  font-family: "Jura", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: Bold;
}
@media (prefers-color-scheme: dark) {
  :root {
    --varBG: hsl(0, 0%, 10%);
    --varBG2: hsl(0, 0%, 15%);
    --varText: hsl(0, 0%, 90%);
    --varText2: hsl(0, 0%, 70%);
    --varBrand: hsl(129, 100%, 17%);
    --varBrand2: hsl(36, 100%, 50%);
    --varCream: hsl(33, 87%, 94%);
    --varNavBG: hsl(0, 0%, 90%, 0.75);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --varBG: hsl(0, 0%, 100%);
    --varBG2: hsl(0, 0%, 95%);
    --varText: hsl(0, 0%, 10%);
    --varText2: hsl(0, 0%, 30%);
    --varBrand: hsl(129, 100%, 17%);
    --varBrand2: hsl(36, 100%, 50%);
    --varCream: hsl(33, 87%, 94%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
  font-family: "Jura", sans-serif;
}
section {
  scroll-margin-top: 80px;
}
.nav-bar-wrapper {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.nav-bar {
  display: flex;
  width: clamp(300px, 80%, 800px);
  height: 50px;
  background-color: var(--varNavBG);
  border-radius: 100px;
}
.logo {
  height: 100%;
}
.logo a {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo img {
  height: 60%;
  padding: 0 20px;
}
.nav-bar ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-bar li a {
  font-family: "Jura";
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--varBrand);
  text-decoration: none;
}
.nav-bar li a:hover {
  color: var(--varBrand2);
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("img/Blue-Lakes-Sunrise.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-family: "Instrument Serif";
  font-size: 8rem;
  font-weight: 500;
  line-height: 8rem;
  color: var(--varCream);
  text-align: center;
}
.hero p {
  font-family: "Jura";
  color: var(--varCream);
  font-size: 2.5rem;
  text-align: center;
}
.animated-button {
  margin-top: 50px;
  background-color: var(--varBrand2);
  border: 1px solid var(--varText);
  padding: 10px 30px;
  position: relative;
  width: fit-content;
  transition: 0.5s;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.animated-button .text {
  font-family: "Jura";
  position: relative;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: white;
  white-space: nowrap;
  pointer-events: none;
}
.animated-button .text.big {
  font-size: 2rem;
}
.animated-button .text.small {
  font-size: 1.3rem;
}
.animated-button .svg {
  pointer-events: none;
  position: absolute;
  transform-origin: 50% 50%;
  transform: translateY(-50%) translateX(100px);
  top: 50%;
  right: 10px;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0;
  height: 22px;
  width: 22px;
  fill: var(--varBrand2);
}
.animated-button:hover .text {
  color: var(--varBrand2);
}
.animated-button:hover .svg {
  margin-right: 10px;
  opacity: 1;
  transition-delay: 0.3s;
  transition-duration: 0.3s;
  transform: translateY(-50%) translateX(0px);
}
.animated-button:hover {
  background-color: white;
  padding-right: 60px;
}
.about {
  display: flex;
  background-color: var(--varBrand);
}
.about-img {
  width: 50%;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-text {
  gap: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 50px;
  font-family: "Jura";
}
.section-text h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
.about-text {
  color: var(--varCream);
}
.contact-text {
  color: var(--varBrand);
}
.section-text p {
  line-height: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
.new-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 5vw 100px 5vw;
  background-color: var(--varCream);
}
.new-products h2 {
  margin-top: 30px;
  width: 100%;
  font-family: "Jura";
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--varBrand);
}
.product-wrapper {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  height: 70vh;
  width: 100%;
  justify-content: space-between;
}
.product {
  min-width: 300px;
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}
.product img {
  height: 90%;
  object-fit: cover;
}
.new-products h3 {
  width: 100%;
  text-align: left;
  font-family: "Jura";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--varBG);
}
.contact {
  display: flex;
  flex-direction: row;
  background-color: var(--varCream);
}
.contact-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-detail-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.form-wrapper h3 {
  font-family: "Jura";
  font-size: 2rem;
  font-weight: 600;
  color: var(--varBrand);
  margin-bottom: 20px;
}
.form-wrapper p {
  font-family: "Jura";
  font-size: 1rem;
  font-weight: 500;
  color: var(--varBrand);
  margin-bottom: 20px;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-bottom: 20px;
}
.form-group label {
  width: 40vw;
  font-family: "Jura";
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--varBrand);
}
.form-group input {
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--varBrand);
  font-family: "Jura";
  font-size: 1.2rem;
}
.form-group textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--varBrand);
  font-family: "Jura";
  font-size: 1.2rem;
  min-height: 80px;
  max-width: 40vw;
  min-width: 40vw;
}
.form-wrapper button {
  width: clamp(50px, 50%, 400px);
  background-color: var(--varBrand2);
  border: 1px solid var(--varText);
  padding: 10px 30px;
  position: relative;
  transition: 0.5s;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.footer {
  background-color: var(--nav-BG);
  padding: 50px 0 20px 0;
}
.footer-container {
  max-width: 1170px;
  margin: 0 auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  flex: 1 1 300px;
  padding: 0 15px 0 60px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.footer-col .social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.footer-col h4 {
  color: var(--Primary-Text);
  font-size: 1.25rem;
  margin-bottom: 30px;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--Accent-color);
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 20px;
}
.footer-col ul li a {
  color: var(--Secondary-Text);
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  transition: all 0.3s ease;
  font-weight: 500;
}
.footer-col ul li a:hover {
  color: var(--Primary-Text);
  padding-left: 8px;
  color: blue;
}
ul {
  list-style: none;
}
.social-links {
  display: flex;
  gap: 20px;
}
.social-links a {
  background-color: var(--icon-BG);
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  flex-shrink: 0;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px var(--Shadow);
}
.social-links a::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--social-color);
  color: white;
  border-radius: 100px;
  padding: 0.5em 1em;
  box-shadow: 0 5px 10px var(--Shadow);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 0.2s ease;
}
.social-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--social-color);
  opacity: 0;
  transition: 0.2s ease;
}
a {
  text-decoration: none;
}
.social-links a:hover::before {
  transform: translateY(-65px) rotate(0deg);
  opacity: 1;
}
.social-links a:hover::after {
  transform: translateY(-43px) rotate(0deg);
  opacity: 1;
}
.social-links a:hover {
  background-color: var(--social-color);
  fill: white;
}
.social-links a svg {
  height: 32;
  fill: var(--Primary-Text);
}
.social-links a:hover svg {
  fill: white;
}
.footer-tag {
  width: 100%;
  text-align: center;
  padding: 30px 20px 0 20px;
}
a[data-social="Facebook"] {
  --social-color: #0165e1;
}
a[data-social="Instagram"] {
  --social-color: #c13584;
}
a[data-social="LinkedIn"] {
  --social-color: #0072b1;
}
a[data-social="Twitter"] {
  --social-color: #000000;
}
a[data-social="Youtube"] {
  --social-color: red;
}
@media (max-width: 768px) {
  .about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-text {
    width: 100%;
    padding: 50px;
  }
  .about-img {
    width: 100%;
  }
  .section-text h2 {
    text-align: center;
  }
  .form-wrapper {
    width: 100%;
    padding: 50px;
  }
  .form-wrapper button {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
  .form-group textarea {
    max-width: 100%;
  }
}
.page {
  display: flex;
  flex-direction: row;
}
.filter-pane {
  display: flex;
  flex-direction: column;
  height: 85vh;
  gap: 20px;
  padding: 20px;
  background-color: var(--varCream);
  width: 20vw;
  position: fixed;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;

  gap: 10px;
  width: 100%;
  padding: 10px 10px 10px Calc(21vw);
}
.grid::after {
  content: "";
  flex: 1 1 2000px;
  max-width: 400px;
  visibility: hidden;
}
.product-card {
  flex: 1 1 200px;
  max-width: 400px;
  min-width: 100px;
  aspect-ratio: 1/2;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
}
.utility-bar {
  height: 15vh;
  background-color: red;
}
.product-img-wrapper {
  position: relative;
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 10px;
  aspect-ratio: 1/1.1;
  padding: 3vw;
}
.product-img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.favorite-button {
  position: absolute;
  height: 30px;
  width: 32px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: white;
}
.favorite-button svg {
  height: 100%;
  width: 100%;
  fill: black;
}
.product-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
.product-text .product-title {
  font-size: 2vw;
  font-weight: 700;
  color: var(--varBrand);
}
.product-text .product-description {
  font-size: 1.5vw;
  line-height: 2vw;
  height: 4vw;
  font-weight: 500;
  color: var(--varText2);
}
.product-price {
  font-size: 2.2vw;
  font-weight: 800;
  color: var(--varBrand);
}
.product-button {
  color: var(--varBrand2);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--varBrand2);
  padding: 5px 20px;
  position: relative;
  width: fit-content;
  transition: 0.5s;
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.5 vw;
}
.favorite-button:hover {
  background: rgba(250, 250, 250, 1);
}
.heart-icon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease, transform 0.2s ease-in-out;
}
.favorite-button.active .heart-icon {
  fill: red;
  transform: scale(1.2);
}
